{% load static %}

<footer class="footer-area default-style">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-3">
                    <div class="widget-item item-style3">
                        <div class="about-widget">
                            <a class="footer-logo" href="{% url 'index' %}">
                                <img style="width: 150px;" src="{% static 'assets/img/logo.png' %}" alt="Logo">
                            </a>
                            <p>Lorem ipsum dolor sit amet, consecl adipisicing elit, sed do eiusmod teml incididunt ut labore et dolore magna aliqua Ut enim</p>
                            <div class="widget-social-icons">
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-tumblr"></i></a>
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-instagram-outline"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="widget-item item-style1">
                        <h4 class="widget-title">Quick Links</h4>
                        <div class="collapse widget-collapse-body" id="dividerId-1">
                            <nav class="widget-menu-wrap">
                                <ul class="nav-menu nav item-hover-style">
                                    <li><a href="#">- Support</a></li>
                                    <li><a href="#">- Helpline</a></li>
                                    <li><a href="#">- Courses</a></li>
                                    <li><a href="#">- About</a></li>
                                    <li><a href="#">- Event</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="widget-item item-style1">
                        <h4 class="widget-title">Other Page</h4>
                        <div class="collapse widget-collapse-body" id="dividerId-2">
                            <nav class="widget-menu-wrap item-hover-style">
                                <ul class="nav-menu nav">
                                    <li><a href="#">- About</a></li>
                                    <li><a href="#">- Blog</a></li>
                                    <li><a href="#">- Speakers</a></li>
                                    <li><a href="#">- Contact</a></li>
                                    <li><a href="#">- Tickets</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-2">
                    <div class="widget-item item-style2">
                        <h4 class="widget-title">Company</h4>
                        <div class="collapse widget-collapse-body" id="dividerId-3">
                            <nav class="widget-menu-wrap item-hover-style">
                                <ul class="nav-menu nav">
                                    <li><a href="#">- Jesco</a></li>
                                    <li><a href="#">- Shop</a></li>
                                    <li><a href="#">- Contact us</a></li>
                                    <li><a href="#">- Log in</a></li>
                                    <li><a href="#">- Help</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-3">
                    <div class="widget-item">
                        <h4 class="widget-title">Store Information</h4>
                        <div class="collapse widget-collapse-body" id="dividerId-4">
                            <p class="widget-address">2005 Your Address Goes Here. <br>896, Address 10010, HGJ</p>
                            <ul class="widget-contact-info">
                                <li>Phone/Fax: <a href="tel:0123456789">0123456789</a></li>
                                <li>Email: <a href="mailto:demo@example.com">demo@example.com</a></li>
                            </ul>
                            <div class="widget-payment-info">
                                <div class="thumb">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'assets/img/photos/payment1.png' %}" alt="Payment">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="widget-copyright">
                            <p><i class="fa fa-copyright"></i> 2021 <span>KIDOL.</span> Made with <i class="fa fa-heart"></i> by <a href="https://www.hasthemes.com" target="_blank">HasThemes</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-shape bg-img" data-bg-img="{% static 'assets/img/photos/footer1.png' %}"></div>
</footer>

 <!--== Scroll Top Button ==-->
 <div class="scroll-to-top"><span class="fa fa-angle-double-up"></span></div>