{% load static %}
<section class="divider-area divider-style1-area bg-img" data-bg-img="{% static 'assets/img/divider/bg1.png' %}" data-aos="fade-up" data-aos-duration="1000">
    <div class="container position-relative">
      <div class="row mergint">
        <div class="col-lg-6 m-auto">
          <div style="padding: 168px 0 121px;" class="divider-content">
            <h2 class="title">Deal Of The Day</h2>
            <p><span>UPTO 35% OFF </span> On All Other Baby Products</p>
            <div class="countdown-content">
              <ul class="countdown-timer">
                <li><span class="days">00</span><p class="days_text">Days</p></li>
                <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                <li><span class="minutes">00</span><p class="minutes_text">MINUTES</p></li>
                <li><span class="seconds">00</span><p class="seconds_text">SECONDS</p></li>
              </ul>
            </div>
            <a class="btn-theme" href="#">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="shape-group">
        <div class="shape-style3">
          <img style="width: 400px;" src="{% static 'assets/img/divider/1.png' %}" alt="Image">
        </div>
        <div class="shape-style4">
          <img style="width: 400px;" src="{% static 'assets/img/divider/2.png' %}" alt="Image">
        </div>
      </div>
    </div>
    <div class="shape-group">
      <div class="shape-style1" data-bg-img="{% static 'assets/img/divider/shape1.png' %}"></div>
      <div class="shape-style2" data-bg-img="{% static 'assets/img/divider/shape2.png' %}"></div>
    </div>
  </section>
  