{% load static %}
<div class="col-lg-3 col-md-4 col-sm-6">
  <!-- Start Product Item -->
  <div class="product-item">
      <div class="product-thumb">
          <img height="220" src="{{ data.image.url }}" alt="{{ data.name }}">
          <div class="product-action">
              <a class="action-quick-view" href="#"><i class="ion-ios-cart"></i></a>
              <a class="action-quick-view" data-slug="{{ data.slug }}" href="javascript:void(0)"><i class="ion-arrow-expand"></i></a>
              <a class="action-quick-view" href="#"><i class="ion-heart"></i></a>
              <a class="action-quick-view" href="#"><i class="ion-shuffle"></i></a>
          </div>
      </div>
      <div class="product-info">
        <div class="rating">
            {% if data.average_rating >= 1 %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% if data.average_rating >= 2 %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% if data.average_rating >= 3 %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% if data.average_rating >= 4 %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% if data.average_rating >= 5 %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% if not data.average_rating %}
                <span class="fa fa-star-o bordered-star"></span>
                <span class="fa fa-star-o bordered-star"></span>
                <span class="fa fa-star-o bordered-star"></span>
                <span class="fa fa-star-o bordered-star"></span>
                <span class="fa fa-star-o bordered-star"></span>
            {% endif %}
        </div>
          <h4 class="title">
              <a href="{% url 'productdetails' slug=data.slug %}">{{ data.name|slice:":20" }}</a>
          </h4>
          <div class="prices">
              <span class="price">${{ data.offer }}</span>
          </div>
      </div>
  </div>
  <!-- End Product Item -->
</div>
  